.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.item {
  justify-items: end;
}

@media (max-width: 2000px) {
  .flex-container {
    display: flex;
    flex-direction: row;
    margin-left: 1%;
  }
}

.flex-container > div {
  margin-left: 10px;
  margin-top: 20px;
}
.column-container {
  flex-direction: column;
}
.textDev {
  margin-left: 20%;
}

/* handphone */
@media (max-width: 480px) {
  .textHeader1 {
    font-size: xx-large;
    font-weight: bold;
    align-content: center;
    color: #06c0d7;
  }
  .viewWelcome {
    justify-content: center;
    margin-top: 20%;
  }
  .textHeader3 {
    font-size: 100%;
    font-family: Arial;
  }
  .icon {
    position: relative;
    width: 80%;
    height: 80px;
    border-radius: 50px;
    transition: all 0.8s;
  }
  .mars {
    margin-left: -5%;
    margin-top: 0.5%;
  }
  .uranus {
    margin-top: 40%;
    margin-left: 10%;
  }
  .roket {
    margin-top: 80%;
    margin-left: 10%;
  }
  .viewNavCov {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    cursor: pointer;
  }
  .biodataDiv {
    width: 50%;
  }
  .menu {
    width: 50%;
    font-family: Arial;
  }
  .textBio {
    color: #ffea30;
    font-weight: 600;
    font-size: 90%;
  }
  .textBiografi {
    color: #f2f4f3;
    font-size: 105%;
  }
  .textBio2 {
    font-size: 50%;
    color: #f2f4f3;
    font-weight: 50;
    text-align: justify;
  }
  .viewTextBio {
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 10%;
    margin-bottom: 5%;
  }
  .header {
    padding: 15px;
    font-size: 100%;
  }
  .viewFooterBio {
    margin-top: 16%;
    width: 100%;
  }
  .textHeaderProject {
    font-size: xx-large;
    font-weight: bold;
    color: #06c0d7;
  }
  .footerPro {
    font-weight: 600;
    color: #ffff;
    font-size: 50%;
  }
  .textPrestasi {
    color: #ffea30;
    font-size: 80%;
  }
  .textPrestasiDes {
    color: #ffff;
    font-size: 70%;
  }
  .viewPrestasi {
    margin-left: 5%;
    margin-top: -10%;
    width: 100%;
  }
}
/* laptop */
@media (min-width: 1025px) {
  .textHeader1 {
    font-size: 300%;
    justify-content: center;
    color: #06c0d7;
    left: 50%;
    font-weight: 600;
  }
  .viewWelcome {
    justify-content: center;
  }
  .textHeader3 {
    font-size: 150%;
    font-family: Arial;
    align-content: center;
    justify-content: center;
  }
  .icon {
    position: relative;
    width: 80px;
    height: 80px;
    margin: 20px;
    border-radius: 50px;
    transition: all 0.8s;
  }
  .mars {
    width: "20%";
    margin-left: "5%";
    margin-top: "7%";
  }

  .viewNavCov {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    cursor: pointer;
  }
  .menu {
    width: 100%;
    margin-left: 10%;
    font-family: Arial;
  }
  .textBio {
    font-size: 100%;
    color: #ffea30;
    font-weight: 600;
  }
  .textBio2 {
    font-size: 100%;
    color: #f2f4f3;
    font-weight: 600;
    text-align: justify;
  }
  .viewTextBio {
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 5%;
  }
  .header {
    padding: 15px;
    margin-left: 30%;
    font-size: 100%;
  }
  .viewFooterBio {
    margin-top: 5%;
    margin-left: 50%;
  }
  .textHeaderProject {
    font-size: xx-large;
    color: #06c0d7;
    font-weight: bold;
  }
  .footerPro {
    font-weight: 600;
    color: #ffff;
  }
  .textPrestasi {
    color: #ffea30;
  }
  .viewPrestasi {
    margin-left: 5%;
    width: 100%;
  }
}

.main {
  width: 100%;
  margin-left: 300%;
}
.textFooter1 {
  margin-left: 15%;
  margin-right: 15%;
}
.viewTextBio2 {
  margin-top: 2%;
}

.custom-timeline {
  margin-left: 20px;
}

.custom-timeline .rs-timeline-item-custom-dot .rs-icon {
  position: absolute;
  background: #fff;
  top: 0;
  left: -2px;
  border: 2px solid #ddd;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 18px;
  padding-top: 9px;
  color: #999;
  margin-left: -13px;
}

.custom-timeline .rs-timeline-item-content {
  margin-left: 24px;
}

.viewFooterPres {
  margin-left: 50%;
}

.icon:hover {
  background: #e60073;
  box-shadow: 0 0 4% #e60073;
}
.icon:hover:nth-child(2) {
  background: #1877f2;
  box-shadow: 0 0 20px #1877f2;
}
.icon:hover:nth-child(3) {
  background: #25d366;
  box-shadow: 0 0 20px #25d366;
}
.icon:hover:nth-child(4) {
  background: #1da1f2;
  box-shadow: 0 0 20px #1da1f2;
}
.icon i {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
svg circle {
  stroke-dasharray: 150;
  transform: all 0.8s;
}
.icon:hover svg circle {
  stroke-dasharray: 220;
}
.box {
  position: absolute;
  top: 10%;
  left: 90%;
  transform: translate(-50%, -50%);
  width: 2%;
  height: 3%;
  border-radius: 50%;
  animation: anim 2s infinite linear;
}
@keyframes anim {
  0% {
    box-shadow: 0 0 0 0px rgba(0, 98, 90, 0.2);
  }
  20% {
    box-shadow: 0 0 0 20px rgba(0, 98, 90, 0.2);
  }
  40% {
    box-shadow: 0 0 0 20px rgba(0, 98, 90, 0.2), 0 0 0 40px rgba(0, 98, 90, 0.2);
  }
  60% {
    box-shadow: 0 0 0 10px rgba(0, 98, 90, 0.2), 0 0 0 50px rgba(0, 98, 90, 0.2),
      0 0 0 30px rgba(0, 98, 90, 0.2);
  }
  80% {
    box-shadow: 0 0 0 0px rgba(0, 98, 90, 0.2), 0 0 0 40px rgba(0, 98, 90, 0.2),
      0 0 0 60px rgba(0, 98, 90, 0.2), 0 0 0 80px rgba(0, 98, 90, 0.2);
  }
  100% {
    box-shadow: 0 0 0 20px rgba(0, 98, 90, 0.2), 0 0 0 40px rgba(0, 98, 90, 0.2),
      0 0 0 60px rgba(0, 98, 90, 0.2), 0 0 0 90px rgba(0, 98, 90, 0.2),
      0 0 0 120px rgba(0, 98, 90, 0.2);
  }
}
.viewTextTyped {
  flex-direction: column;
}
.text {
  width: 500px;
  font-size: 4rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.typed-cursor {
  display: none;
}
